

  <footer class="footer">
    <div class="container">
      <p class="footer-text">© 2023 City Hospital. All rights reserved.</p>
      <div style="position: relative;">
        <a class="" href="https://www.google.com/gmail/about/"><img src="../../../assets/gmail.png" alt="" height="30px" width="30px"></a>
        <a class="ml10" href="https://www.facebook.com/"><img src="../../../assets/facebook 2.png" alt="" height="30px" width="30px"></a>
        <a class="ml10" href="https://www.whatsapp.com/"><img src="../../../assets/whatsapp2.png" alt="" height="30px" width="30px"></a>
        <div style="position: absolute; right: 30px;bottom:10px">        <img src="../../../assets/helpline.png" alt="" height="35px" width="35px">  9955882211
        </div>
      </div>

    </div>
    
  
  </footer>



